@charset "UTF-8";
/* CSS Document */
/*Estilos comunes para divs */

#header
{
	margin:0px 0px 0px 20px;
}

.sloganContainer
{
	margin: 0px 0px 0px 170px;
}

/*CAPAS DEL BODY*/
body
{
	background-image:url(../images/labilbaina/panoramicBilbaina.jpg); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
	background-repeat:no-repeat;
	background-position:center;
	background-attachment:fixed;
}

aside
{
	border-left:dotted;
	border-left-color:white;
	margin: -370px 0px 0px 1000px;
	width: 400px;
	height: 700px;
	float: right;
	position:relative;
	
}

#carousel
{
	border:solid;
	border-color:white;
	margin: 50px 0px 0px 20px;
	width:95%;
	align-content:center;
}

/*capa que contiene foto de miniaturas */
.thumbnailContainer
{
	width:220px;
	margin: 50px 30px 0px 10px;
	float:left;
}

#thumbnail
{
	border:solid;
	height:150px;
	border-color:white;
	margin: 10px 0px 10px 0px;
	background-repeat: no-repeat;
}

/*CAPAS DEL FOOTER*/
footer
{
	border-top:solid;
	border-color:#BCBCBC;
	background-color:white;
	height: 300px;
	margin: 800px 0px 0px 0px;
	width: 100%;
}

.treeLinks
{
	margin: 20px 0px 0px 30px;
	width: 700px;
	height: 100px;
	float: left;
}

#footerLinks
{
	z-index:1;
	float:left;
}

.socialFooter
{
	margin-top:20px;
	margin-right:20px;
	width: 450px;
	float:right;
	z-index:2;
}

#findUs
{
	margin-left: 50px;
	width:200px;
	
}

.facebook
{
	float: right;
	margin: 10px 10px 0px 0px;
}

.tripAdvisor
{
	float: right;
	margin: 10px 10px 0px 0px;
}

.booking
{
	float: right;
	margin: 10px 10px 0px 0px;
}

.googlePlus
{
	float: right;
	margin: 10px 10px 0px 0px;
}

#copyright
{
	margin: 250px 0px 0px 20px;
}