@charset "UTF-8";
/* CSS Document */
/*Estilos comunes para divs */

/*ESTILOS DEL HEADER*/
header
{
	position:fixed;
	z-index:5000;
	width: 100%;
	background: #ffffff;
}

/*Contenedor de Titulo y slogan*/
.titleAndSlogan
{
	margin: 5px 0px 0px 30px;
	width:570px;
	float:left;
}

/*Contenedor la barra de navegacion*/
.mainMenuContainer{
	margin: 5px 0px 0px 700px;
	height:85px;
	width:600px;
}

.mainMenu {

}

.mainMenu ul {
	float: right;
	padding-left: 0;
	margin-bottom: 0;
	line-height: 60px;
}

.mainMenu li {
	list-style-type: none;
	display: inline-block;
}

.mainMenu li a {
	display: block;
	text-transform: uppercase;
	color: #939393;
}

#top-menu {
    background: white;
}

#top-menu ul { 
	float: right;
}

#top-menu li {
    float: left;
	line-height: 60px;
	display: inline-block;
}

#top-menu a {
    display: block;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    transition: 1s all ease;
    color: #666;
    text-decoration: none;
	font-size: 14px;
}

#top-menu a:hover {
    color: #ffffff;
	background: #996600;
}

#top-menu li.active a {
    color: #ffffff;
	background: #996600;
	line-height: 60px;
	font-size: 14px;
}
	
.sloganContainer
{
	margin: 0px 0px 0px 170px;
	width: 500px;
}

.socialHeader
{
	margin: 50px 0px 20px 900px;
	width: 450px;
	height:70px;
}

/*ESTILOS DEL BODY*/
body
{
	background-image:url(../images/labilbaina/panoramicBilbaina.jpg); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
	background-repeat:no-repeat;
	background-position:center;
	background-attachment:fixed;
}

.clear	{ clear: both;}

/*Texto central de las páginas de secciones*/
.centralText
{
	width:100%;
	background-color:#333537;
	opacity: 0.8;
    filter: alpha(opacity=60);
	padding: 30px 30px 30px 30px;
}

/*Contenedor de los enlaces en la parte baja de la página de sección*/
.sections
{
	width:100%;
	padding: 30px 30px 30px 30px;
	background-image:url(../images/experiencias/shipsWater.jpg);
}

.thumbnailPlaya
{
	background-image:url(../images/playa/playaTapia.jpg);
}

.thumbnailMontana
{
	background-image:url(../images/montana/river_cascade.jpg);
}

.thumbnailVegadeo
{
	background-image:url(../images/vegadeo/pic_02g-A.jpg);
}

.thumbnailComarca
{
	background-image:url(../images/comarca/sailingEo.jpg);
}

.linkPlayas
{
	width:50px;
	height:150px;
	margin-left:150px;
	float: left;
}

.linkMontana
{
	width:50px;
	height:150px;
	margin-left:150px;
	float: right;	
}

.linkVegadeo
{
	width:50px;
	height:150px;
	margin-left:150px;
	float: right;
}

.linkComarca
{
	width:50px;
	height:150px;
	margin-left:150px;
	float: right;
}

aside
{
	border-left:dotted;
	border-left-color:white;
	margin: 50px 0px 0px 1100px;
	width: 400px;
	height: 700px;
	float: right;
	position:absolute;
}

#carousel
{
	border:solid;
	border-color:white;
	margin: 80px 0px 0px 20px;
	width:95%;
	align-content:center;
}

/*capa que contiene foto de miniaturas */
.thumbnailContainer
{
	width:220px;
	margin: 50px 30px 0px 10px;
	float:left;
}

#thumbnail
{
	border:solid;
	height:150px;
	border-color:white;
	margin: 10px 0px 10px 0px;
	background-repeat: no-repeat;
}

/*CAPAS DEL FOOTER*/
footer
{
	border-top:solid;
	border-color:#BCBCBC;
	background-color:white;
	height: 300px;
	margin: 50px 0px 0px 0px;
	width: 100%;
}

.treeLinks
{
	margin: 20px 0px 0px 30px;
	width: 700px;
	height: 100px;
	float: left;
}

#footerLinks
{
	z-index:1;
	float:left;
	margin: 0px 40px 0px 0px;
}

.socialFooter
{
	margin: 20px 130px 0px 0px;
	width: 450px;
	float:right;
	z-index:2;
}

#findUs
{
	margin-left: 190px;
	width:500px;
	float:left;
}

.facebook
{
	float: right;
	margin: 10px 10px 0px 0px;
}

.tripAdvisor
{
	float: right;
	margin: 10px 10px 0px 0px;
}

.booking
{
	float: right;
	margin: 10px 10px 0px 0px;
}

.googlePlus
{
	float: right;
	margin: 10px 10px 0px 0px;
}

#copyright
{
	margin: 250px 0px 0px 20px;
}

#contactFooter
{
	margin: 50px 90px 0px 0px;
	width: 300px;
	float:right;
}
