@charset "UTF-8";
/* CSS Document */
/* Estilos especificos */

/*INDEX*/

.thumbnail_laBilbaina
{
	background-image:url(../images/thumbnails/laBilbaina.jpg);
}
.thumnail_vegadeo
{
	background-image: url(../images/thumbnails/vegadeo.jpg);
}

.thumnail_experiences
{
	background-image:url(../images/thumbnails/experiences.jpg);
}
.thumnail_gallery
{
	background-image:url(../images/thumbnails/gallery.jpg);
}

.widgetMap
{
	margin: 0px 0px 0px 30px;
}

.widgetWeather
{
	margin: 50px 0px 0px 30px;
}


/*LA BILBAINA*/



/*CONTACTO*/



/*COMARCA*/

.initialParragraph
{
	padding-top: 350px;
	padding-bottom:50px;
	width: 100%;
	background: #333537;
	color: #ffffff;
	text-align: center;
}
.initialParragraph p { padding-bottom: 10px; }

.thumbnailPlaya
{
	background-image:url(../images/playa/playaTapia.jpg);
	width:100%;
	height:200px;
}

.thumbnailMontana
{
	background-image:url(../images/montana/river_cascade.jpg);
	width:100%;
	height:200px;
}

.thumbnailVegadeo
{
	background-image:url(../images/vegadeo/pic_02g-A.jpg);
	width:100%;
	height:200px;
}

.thumbnailComarca
{
	background-image:url(../images/comarca/sailingEo.jpg);
	width:100%;
	height:200px;
}

.linkPlayas
{
	width:300px;
	height:500px;
	margin-left:200px;
	float:left;
}

.linkMontana
{
	width:300px;
	height:150px;
	margin-left:30px;
	float: left;	
}

.linkVegadeo
{
	width:300px;
	height:150px;
	margin-left:30px;
	margin-right: 150px;
	float: left;
}

.linkComarca
{
	width:300px;
	height:150px;
	margin-left:30px;
	float: right;
}


.changeColor
{
	height:200px;
	padding: 10px 10px 0px 10px;
	-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.changeColor:hover
{
	background-color: rgba(255,254,254,0.6);
}
/*EXPERIENCIAS*/

/*GALERIA*/



/*MONTAÑA*/



/*PLAYA*/


/*VEGADEO*/




