@charset "UTF-8";
/* CSS Document */
/* Estilos especificos */

/*INDEX*/

.fondoMedioIndex
{
	background-color: rgba(255,254,254,0.7);
}

.widgetMap
{
	width:60%;
	height:400px;
	float: right;
	margin: 90px 0px 0px 0px;
	
	border:solid;
	border-color:black;
	border-width:2px;
}

.widgetWeather
{
	margin: 50px 0px 0px 30px;
}


/*LA BILBAINA*/

.fondoMedioBilbaina
{
	background-image:url(../images/experiencias/shipsWater.jpg);
	background-repeat: no-repeat;
}

/*EXPERIENCIAS*/

.fondoMedioExperiencias
{
	background-image:url(../images/experiencias/shipsWater.jpg);
	background-repeat: no-repeat;
}

/*CONTACTO*/

.fondoMedioContacto
{
	background-image:url(../images/experiencias/shipsWater.jpg);
	background-repeat: no-repeat;
}

/*COMARCA*/

.fondoMedioComarca
{
	background-image:url(../images/experiencias/shipsWater.jpg);
	background-repeat: no-repeat;
}
/*EXPERIENCIAS*/

/*MONTAÑA*/

.fondoMedioMontana
{
	background-image:url(../images/montana/wayWood.jpg);
	background-repeat: no-repeat;
}

/*PLAYA*/

.fondoMedioPlaya
{
	background-image:url(../images/playa/lasCatedralesBig.jpg);
	background-repeat: no-repeat;
}

/*VEGADEO*/

.fondoMedioVegadeo
{
	background-image:url(../images/vegadeo/casitasColor.jpg);
	background-repeat: no-repeat;
}

/*GALERIA*/

.fondoMedioGaleria
{
	background-image:url(../images/experiencias/shipsWater.jpg);
	background-repeat: no-repeat;
}




