@charset "UTF-8";
/* CSS Document */
/* Estilos especificos */

/*INDEX*/

.thumbnail_laBilbaina
{
	background-image:url(../images/thumbnails/laBilbaina.jpg);
}
.thumnail_vegadeo
{
	background-image: url(../images/thumbnails/vegadeo.jpg);
}

.thumnail_experiences
{
	background-image:url(../images/thumbnails/experiences.jpg);
}
.thumnail_gallery
{
	background-image:url(../images/thumbnails/gallery.jpg);
}

.widgetMap
{
	margin: 0px 0px 0px 30px;
}

.widgetWeather
{
	margin: 50px 0px 0px 30px;
}


/*LA BILBAINA*/



/*CONTACTO*/



/*COMARCA*/

.initialParragraph
{
	padding-top: 350px;
	padding-bottom:50px;
	width: 100%;
	background: #333537;
	color: #ffffff;
	text-align: center;
}
.initialParragraph p { padding-bottom: 10px; }

/*EXPERIENCIAS*/



/*GALERIA*/



/*MONTAÑA*/



/*PLAYA*/


/*VEGADEO*/




