@charset "UTF-8";
/* CSS Document */
/* text Styles */

.plainText
{
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	color:#BCBCBC;
	text-justify:auto;
}

.plainTextBlack
{
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	color:Black;
	text-justify:auto;
}

.plainTextWhitePlus
{
	font-size:16px;
	color:#F9F9F9;
	font-family:'Open Sans';
	text-justify:auto;
	font-weight:50;
}

.slogan
{
	font-size:40px;
	font-family:'Nothing You Could Do', sans-serif;
	font-weight:bolder;
}

.rotuloLogo
{
	color:#996600;
	font-family: 'Cinzel Decorative', serif;
	font-size:80px;
	font-weight:900;
	height:50px;
}

.rotuloMedio
{
	font-size:25px;
	color:#996600;
	font-weight:bolder;
	font-family: 'Cinzel Decorative', serif;
}

a:link,a:visited,a:hover,a:active
{
	text-decoration:none;
	color:#996600;
}

.footerText
{
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#000033;
}

.footerTextMenor
{
	font-size:12px;
	font-weight:300;
	color:#996600;
}
