@charset "UTF-8";
/* CSS Document */
/* text Styles */

.plainText
{
	font-size:14px;
	font-family:'Josefin Sans';
	color:#BCBCBC;
}

.plainTextWhitePlus
{
	font-size:19px;
	color:#BFBFBF;
	font-family: 'Josefin Sans';
}

.black
{
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	color:Black;
}

.goldLinkSection
{
	color:#996600;
	font-size:20px;
	font-weight:bold;
}

.goldTituloLateral
{
	color:#996600;
	font-size:30px;
	font-weight:bold;
	font-family: 'Syncopate';
}

.grayLinkSection
{
	color:rgba(47,47,48,1);
	font-size:20px;
	font-weight:bold;
}

.white
{
	color:white;
}

.slogan
{
	font-size:40px;
	font-family:'Nothing You Could Do', sans-serif;
	font-weight:bolder;
}

.sloganPlus
{
	font-size:70px;
	color: rgba(150,150,150,1.00);
}

.sloganUnderText
{
	font-size:20px;
	font-family: 'Syncopate';
}

.sloganMini
{
	font-size:20px;
}

/*Titulos de cada seccion*/
.rotuloSecciones
{
	font-size:40px;
	font-family: 'Syncopate';
}

.rotuloLogo
{
	color:#996600;
	font-family: 'Cinzel Decorative', serif;
	font-size:80px;
	font-weight:900;
	height:50px;
}

.rotuloMedioCincelGold
{
	font-size:25px;
	color:#996600;
	font-weight:bolder;
	font-family: 'Cinzel Decorative', serif;
}

.rotuloMedioNothingGray
{
	color: #BFBFBF;
	font-weight:bolder;	
	font-family: 'Nothing You Could Do', sans-serif;
	font-size:30px;
}

.rotuloMedioNothingWhite
{
	color: #FFFFFF;
	font-weight:bolder;	
	font-family: 'Nothing You Could Do', sans-serif;
	font-size:30px;
}

/*texto para pie de foto*/
.underImage
{
	color:#996600;
	font-family: 'Open Sans';
	font-size:14px;
	font-style:italic;
}

a:link,a:visited,a:hover,a:active
{
	text-decoration:none;
	color:#996600;
}

.footerText
{
	font-family: 'Open Sans';
	font-size:14px;
	font-weight:bold;
	color:#000033;
}

.footerTextMenor
{
	font-size:12px;
	font-weight:300;
	color:#996600;
}

strong
{
	font-weight:200;
	color:#996600;
}

/*TODO: verificae que este estio se usa.*/
.sombra
{
	text-shadow: 1px 2px #999;
}

.textoBoton
{
	color:#FFFFFF;
	font-family:'Josefin Sans';
	font-size:12px;
}